nodeRed/flows.backup
[{"type":"tab","id":"ab44d5d3.54bb28","label":"Sheet 1"},{"id":"6ea068ab.915f98","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"samd","name":"samd"},{"id":"b3cf47dd.4c30b8","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"1","name":""},{"id":"a839bde4.57c64","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"e24f55d2.1db0a8","type":"function","name":"Proximity","func":"//Compare tx to rx\n\n//Input message payload is array of objects\n// each contain tx, rx etc.\n//var len = { payload: msg.payload.length};\n\n//Ignore multiples for now (only first entry of possible many)\n\nvar rssi = msg.payload[0].rx;\nvar tx = msg.payload[0].tx;\n\n\nratio = rssi * 1.0 /tx;\nif (ratio <1.0) {\n\tprox = Math.pow(ratio, 10);\n} else {\n\tprox = 0.89976 * Math.pow(ratio, 7.7095) + 0.111\n}\n\n//put msg back together\nvar newmsg = {payload: prox};\nvar newrs = {payload: rssi};\nvar newtx = {payload: tx};\n\nreturn newmsg;\n//return [newmsg, newrs, newtx];\n","outputs":"1","x":554,"y":239,"z":"ab44d5d3.54bb28","wires":[["70baef68.8f451"]]},{"id":"2ea374f8.d15c8c","type":"function","name":"Convert","func":"// MongoDB requires payload wrapped into object \nmsg.payload = {\"phone\":msg.payload};\n\nreturn msg;","outputs":1,"x":250,"y":200,"z":"ab44d5d3.54bb28","wires":[["e9ab5de.f1654a"]]},{"id":"15aec9f1.ea5136","type":"comment","name":"Find User Location","info":"","x":134,"y":72,"z":"ab44d5d3.54bb28","wires":[]},{"id":"e9ab5de.f1654a","type":"mongodb in","mongodb":"6ea068ab.915f98","name":"Get Users","collection":"users","x":377,"y":257,"z":"ab44d5d3.54bb28","wires":[["e24f55d2.1db0a8","4af32782.b50cd8"]]},{"id":"b51f80db.4ae08","type":"mongodb in","mongodb":"6ea068ab.915f98","name":"Get Room","collection":"locations","x":591,"y":349,"z":"ab44d5d3.54bb28","wires":[["70baef68.8f451"]]},{"id":"4af32782.b50cd8","type":"function","name":"User -> Room","func":"//Correlate user seen maj & min to a physical \n// room\n/*\nvar maj = parseInt(msg.payload[0].maj, 16);\nvar min = parseInt(msg.payload[0].min, 16);\n*/\nvar maj = msg.payload[0].maj;\nvar min = msg.payload[0].min;\n\n//Query the db \n//var newmaj = {payload:{\"maj\":maj}};\n//var newmin = {payload:{\"min\":min}};\nvar newmsg = {payload:{\"$and\":[{\"maj\":maj},{\"min\":min}]}};\n\nreturn newmsg;","outputs":1,"x":386,"y":344,"z":"ab44d5d3.54bb28","wires":[["b51f80db.4ae08"]]},{"id":"70baef68.8f451","type":"function","name":"Range Check","func":"//Initialise Context variables\ncontext.type = context.type || 0;\ncontext.msg = context.msg || 0;\n\n//Determine which msg recieved\nvar type = typeof(msg.payload);\n//Store type to ensure we flip-flop between both \nif (type === context.type) {\n\t//wait, got same message twice or first run\n} else {\n\t//context.msg & type hold the previous data\n\t\n\tswitch(context.type) {\n\t\tcase 'object':\n\t\t\tvar size = context.mess[0].size;\n\t\t\tvar loc = context.mess[0]._id;\n\t\t\tvar prox = msg.payload;\n\t\t\tvar out = (prox <= size) ? 1 : 0;\n\t\t\tbreak;\n\t\tcase 'number':\n\t\t\tvar size = msg.payload[0].size;\n\t\t\tvar loc = msg.payload[0]._id;\n\t\t\tvar prox = context.mess;\n\t\t\tvar out = (prox <= size) ? 1 : 0;\n\t\t\tbreak;\n\t\tdefault:\n\t\t\t//bad data\n\t}\t\n\t\n\tcontext.type = type;\n\tcontext.mess = msg.payload;\n}\n\n//Only ouput relevant data\nout = out.toString() + \" \" + loc;\n\n//wrap output back into a message\nvar newmsg = {payload: out};\nreturn newmsg\n\n/*\nvar newmsg = {payload:{\"prox1\":prox1}};\nvar newmsg2 = {payload:{\"size1\":size1}};\nvar newmsg3 = {payload:{\"prox2\":prox2}};\nvar newmsg4 = {payload:{\"size2\":size2}};\nvar con = {payload:{\"con2\":context.type}};\nreturn [con1, msg, con2];\n*/","outputs":"1","x":770,"y":281,"z":"ab44d5d3.54bb28","wires":[["7acf422c.8530bc","1469859b.eb967a","93584b31.6ca7b8"]]},{"id":"7acf422c.8530bc","type":"debug","name":"","active":true,"console":false,"complete":false,"x":938,"y":231,"z":"ab44d5d3.54bb28","wires":[]},{"id":"1a8efafa.e57105","type":"inject","name":"Get Room Occupancy \"Room\"","topic":"","payload":"Laptop","payloadType":"string","repeat":"","crontab":"","once":false,"x":149,"y":531,"z":"ab44d5d3.54bb28","wires":[["73f37538.8c0c8c"]]},{"id":"940cb5dd.6bf348","type":"comment","name":"Get Room Occupancy","info":"","x":131,"y":482,"z":"ab44d5d3.54bb28","wires":[]},{"id":"73f37538.8c0c8c","type":"function","name":"Convert","func":"// MongoDB requires payload wrapped into object \nmsg.payload = {\"_id\":msg.payload};\n\nreturn msg;","outputs":1,"x":229,"y":605,"z":"ab44d5d3.54bb28","wires":[["7d5afa8f.82a504"]]},{"id":"7d5afa8f.82a504","type":"mongodb in","mongodb":"6ea068ab.915f98","name":"Get Room","collection":"locations","x":366,"y":648,"z":"ab44d5d3.54bb28","wires":[["956e76c6.6a9188"]]},{"id":"956e76c6.6a9188","type":"function","name":"Room -> Users","func":"//Get the room maj & min\n// Convert from decimal string to hex string\nvar maj = msg.payload[0].maj;\nvar min = msg.payload[0].min;\n//Get room limit\nvar limit = {payload:msg.payload[0].limit};\n\n//Form the query\nvar newmsg = {payload:{\"$and\":[{\"maj\":maj},{\"min\":min}]}};\n\n\nreturn [newmsg, limit];","outputs":"2","x":537,"y":573,"z":"ab44d5d3.54bb28","wires":[["43a1a48d.bc5e5c"],["70ab10d5.8f54f"]]},{"id":"43a1a48d.bc5e5c","type":"mongodb in","mongodb":"6ea068ab.915f98","name":"Get Users","collection":"users","x":725,"y":547,"z":"ab44d5d3.54bb28","wires":[["70ab10d5.8f54f"]]},{"id":"70ab10d5.8f54f","type":"function","name":"Number of Users","func":"//Initialise Context variables\ncontext.type = context.type || 0;\n\n//Determine type of input\nvar type = typeof(msg.payload);\n\nif (type === context.type) {\n\t//wait, got same message twice or first run\n} else {\n\n\tswitch(context.type) {\n\t\tcase 'object':\n\t\t\t//Store Room limit value\n\t\t\tvar lim = msg.payload;\n\t\t\tvar num = context.mess.payload.length;\n\t\t\tvar out = num.toString() + \"/\" + lim.toString();\n\t\t\tbreak;\n\t\tcase 'number':\n\t\t\t//Count the number of items in the array\n\t\t\tvar num = msg.payload.length;\n\t\t\tvar lim = context.mess.payload;\n\t\t\tvar out = num.toString() + \"/\" + lim.toString();\n\t\t\tbreak;\n\t\tdefault:\n\t\t\t//Bad things\n\t}\n\tcontext.type = type;\n\tcontext.mess = msg;\n}\n\n//Form back into message\nvar newmsg = {payload:out};\n\nreturn newmsg;","outputs":"1","x":857,"y":619,"z":"ab44d5d3.54bb28","wires":[["77a494fc.885b6c"]]},{"id":"1469859b.eb967a","type":"file","name":"Log User Location","filename":"Test","appendNewline":true,"overwriteFile":false,"x":992,"y":325,"z":"ab44d5d3.54bb28","wires":[]},{"id":"77a494fc.885b6c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":1021,"y":562,"z":"ab44d5d3.54bb28","wires":[]},{"id":"9938a720.66c758","type":"mqtt in","name":"Find usrID Location","topic":"uq/beaconTracker/usrloc","broker":"a839bde4.57c64","x":103,"y":157,"z":"ab44d5d3.54bb28","wires":[["2ea374f8.d15c8c","1b98ddf8.e46722"]]},{"id":"1b98ddf8.e46722","type":"debug","name":"","active":true,"console":false,"complete":false,"x":361,"y":131,"z":"ab44d5d3.54bb28","wires":[]},{"id":"93584b31.6ca7b8","type":"mqtt out","name":"Send back to phone","topic":"uq/beaconTracker/locreq","broker":"a839bde4.57c64","x":968,"y":380,"z":"ab44d5d3.54bb28","wires":[]}]