nodeRed/flows_winter.ceit.uq.edu.au.json
[{"type":"tab","id":"ab44d5d3.54bb28","label":"Sheet 1"},{"id":"6ea068ab.915f98","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"samd","name":"samd"},{"id":"b3cf47dd.4c30b8","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"1","name":""},{"id":"fd7b1e78.0284e","type":"debug","name":"","active":true,"console":false,"complete":false,"x":720,"y":87,"z":"ab44d5d3.54bb28","wires":[]},{"id":"41483236.beb7cc","type":"mongodb in","mongodb":"6ea068ab.915f98","name":"Get Locations","collection":"locations","x":485,"y":132,"z":"ab44d5d3.54bb28","wires":[["fd7b1e78.0284e"]]},{"id":"faf50956.050af8","type":"inject","name":"Get All entries","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":130,"y":118,"z":"ab44d5d3.54bb28","wires":[["41483236.beb7cc"]]},{"id":"dfd1f40e.202e08","type":"inject","name":"Get Single Entry","topic":"","payload":"Laptop","payloadType":"string","repeat":"","crontab":"","once":false,"x":160,"y":199,"z":"ab44d5d3.54bb28","wires":[["f50e7126.0af19"]]},{"id":"f50e7126.0af19","type":"function","name":"Convert","func":"// MongoDB requires payload wrapped into object \nmsg.payload = {\"_id\":msg.payload};\n\nreturn msg;","outputs":1,"x":334,"y":218,"z":"ab44d5d3.54bb28","wires":[["41483236.beb7cc"]]},{"id":"e24f55d2.1db0a8","type":"function","name":"Proximity","func":"//Compare tx to rx\n\n//Input message payload is array of objects\n// each contain tx, rx etc.\n//var len = { payload: msg.payload.length};\n//Ignore multiples for now\n\nvar rssi = msg.payload[0].rx;\nvar tx = msg.payload[0].tx;\n\n\nratio = rssi * 1.0 /tx;\nif (ratio <1.0) {\n\tprox = Math.pow(ratio, 10);\n} else {\n\tprox = 0.89976 * Math.pow(ratio, 7.7095) + 0.111\n}\n\n//put msg back together\nvar newmsg = {payload: prox};\nvar newrs = {payload: rssi};\nvar newtx = {payload: tx};\n\nreturn newmsg;\n//return [newmsg, newrs, newtx];\n","outputs":"1","x":556,"y":520,"z":"ab44d5d3.54bb28","wires":[["70baef68.8f451","ca1c1d89.35e3e"]]},{"id":"bdca8e37.42357","type":"inject","name":"Get User \"Sam phone id\"","topic":"","payload":"6796be37bf52f9180","payloadType":"string","repeat":"","crontab":"","once":false,"x":135,"y":424,"z":"ab44d5d3.54bb28","wires":[["2ea374f8.d15c8c"]]},{"id":"2ea374f8.d15c8c","type":"function","name":"Convert","func":"// MongoDB requires payload wrapped into object \nmsg.payload = {\"phone\":msg.payload};\n\nreturn msg;","outputs":1,"x":252,"y":481,"z":"ab44d5d3.54bb28","wires":[["e9ab5de.f1654a"]]},{"id":"15aec9f1.ea5136","type":"comment","name":"Find User Location","info":"","x":136,"y":353,"z":"ab44d5d3.54bb28","wires":[]},{"id":"85efa5d4.7a1058","type":"comment","name":"How to Mongo","info":"","x":121,"y":50,"z":"ab44d5d3.54bb28","wires":[]},{"id":"e9ab5de.f1654a","type":"mongodb in","mongodb":"6ea068ab.915f98","name":"Get Users","collection":"users","x":379,"y":538,"z":"ab44d5d3.54bb28","wires":[["e24f55d2.1db0a8","4af32782.b50cd8"]]},{"id":"b51f80db.4ae08","type":"mongodb in","mongodb":"6ea068ab.915f98","name":"Get Room","collection":"locations","x":593,"y":630,"z":"ab44d5d3.54bb28","wires":[["70baef68.8f451"]]},{"id":"4af32782.b50cd8","type":"function","name":"User -> Room","func":"//Correlate user seen maj & min to a physical \n// room\n\nvar maj = parseInt(msg.payload[0].maj, 16);\nvar min = parseInt(msg.payload[0].min, 16);\n\n\n\n//Query the db \n//var newmaj = {payload:{\"maj\":maj}};\n//var newmin = {payload:{\"min\":min}};\nvar newmsg = {payload:{\"$and\":[{\"maj\":maj},{\"min\":min}]}};\n\nreturn newmsg;","outputs":1,"x":388,"y":625,"z":"ab44d5d3.54bb28","wires":[["b51f80db.4ae08"]]},{"id":"70baef68.8f451","type":"function","name":"Range Check","func":"//Initialise Context variables\ncontext.type = context.type || 0;\ncontext.msg = context.msg || 0;\n\n//Determine which msg recieved\nvar type = typeof(msg.payload);\n//Store type to ensure we flip-flop between both \nif (type === context.type) {\n\t//wait, got same message twice or first run\n} else {\n\t//context.msg & type hold the previous data\n\t\n\tswitch(context.type) {\n\t\tcase 'object':\n\t\t\tvar size1 = context.mess[0].size;\n\t\t\tvar prox1 = msg.payload;\n\t\t\tvar out = (prox1 <= size1) ? 1 : 0;\n\t\t\tbreak;\n\t\tcase 'number':\n\t\t\tvar size2 = msg.payload[0].size;\n\t\t\tvar prox2 = context.mess;\n\t\t\tvar out = (prox2 <= size2) ? 1 : 0;\n\t\t\tbreak;\n\t\tdefault:\n\t\t\t//bad data\n\t}\t\n\t\n\tcontext.type = type;\n\tcontext.mess = msg.payload;\n}\n\nmsg.type = context.type;\nmsg.msg = context.msg\n\n//wrap output back into a message\nvar newmsg = {payload: out};\nreturn newmsg\n\n/*\nvar newmsg = {payload:{\"prox1\":prox1}};\nvar newmsg2 = {payload:{\"size1\":size1}};\nvar newmsg3 = {payload:{\"prox2\":prox2}};\nvar newmsg4 = {payload:{\"size2\":size2}};\nvar con = {payload:{\"con2\":context.type}};\nreturn [con1, msg, con2];\n*/","outputs":"1","x":772,"y":562,"z":"ab44d5d3.54bb28","wires":[["7acf422c.8530bc","1469859b.eb967a"]]},{"id":"7acf422c.8530bc","type":"debug","name":"","active":true,"console":false,"complete":false,"x":940,"y":512,"z":"ab44d5d3.54bb28","wires":[]},{"id":"1a8efafa.e57105","type":"inject","name":"Get Room Occupancy \"Room\"","topic":"","payload":"Laptop","payloadType":"string","repeat":"","crontab":"","once":false,"x":152,"y":794,"z":"ab44d5d3.54bb28","wires":[["73f37538.8c0c8c"]]},{"id":"940cb5dd.6bf348","type":"comment","name":"Get Room Occupancy","info":"","x":134,"y":745,"z":"ab44d5d3.54bb28","wires":[]},{"id":"73f37538.8c0c8c","type":"function","name":"Convert","func":"// MongoDB requires payload wrapped into object \nmsg.payload = {\"_id\":msg.payload};\n\nreturn msg;","outputs":1,"x":232,"y":868,"z":"ab44d5d3.54bb28","wires":[["7d5afa8f.82a504"]]},{"id":"7d5afa8f.82a504","type":"mongodb in","mongodb":"6ea068ab.915f98","name":"Get Room","collection":"locations","x":369,"y":911,"z":"ab44d5d3.54bb28","wires":[["956e76c6.6a9188"]]},{"id":"956e76c6.6a9188","type":"function","name":"Room -> Users","func":"\nreturn msg;","outputs":1,"x":542,"y":836,"z":"ab44d5d3.54bb28","wires":[["43a1a48d.bc5e5c"]]},{"id":"43a1a48d.bc5e5c","type":"mongodb in","mongodb":"6ea068ab.915f98","name":"Get Users","collection":"users","x":719,"y":874,"z":"ab44d5d3.54bb28","wires":[["70ab10d5.8f54f"]]},{"id":"70ab10d5.8f54f","type":"function","name":"Number of Users","func":"\nreturn msg;","outputs":1,"x":894,"y":822,"z":"ab44d5d3.54bb28","wires":[[]]},{"id":"ca1c1d89.35e3e","type":"debug","name":"","active":true,"console":false,"complete":false,"x":733,"y":461,"z":"ab44d5d3.54bb28","wires":[]},{"id":"1469859b.eb967a","type":"file","name":"Log User Location","filename":"Test","appendNewline":true,"overwriteFile":false,"x":1031,"y":574,"z":"ab44d5d3.54bb28","wires":[]}]